<h1>Simple Chat for Rails</h1>

<div>
    <%= link_to("Logout #{current_user.email}", destroy_user_session_path, method: :delete) if user_signed_in? %>   
    <br><br>
</div>

<hr>

<div>
    <h2>New Conversations</h2>
    <%= form_with(url: conversations_url, local:true) do |f| %>
        <div>
            <%= f.label :topic %>
            <%= f.text_field :topic %> <%= f.submit 'Create or Join Conversation' %>
        </div>
    <% end %>
</div>

<hr>

<h2>All Active Conversations</h2>
<ul>
<% @conversations.each do |conversation| %>
    <li><%= link_to conversation.topic, conversation_path(conversation) %></li>
<% end %>
</ul>